/* Coolors Exported Palette - https://coolors.co/5a2238-332d43-341d32-96607c-5e2757 */

/* SCSS HEX */
$foreground: #DDCAD4ff; /* Foregrounds */
$background: #211D2Bff; /* Backgrounds */
$accents: #5E2757ff; /* Accents */
$secondaryAccents: #9E7D9Aff; /* Accent Alternative */
$waybarBackground: #332D43ff; /* Main Waybar Module Background */
$indicator: #96607Cff; /* Cursors - Indicators */

/* SCSS RGB */
$foreground-rgba: rgba(221,202,212,1);
$background-rgba: rgba(33, 29, 43, 1);
$accents-rgba: rgba(94, 39, 87, 1);
$secondaryAccents-rgba: rgba(158,125,154,1);
$waybarBackground-rgba: rgba(51, 45, 67, 1);
$indicator-rgba: rgba(150, 96, 124, 1);
